header.hd {
  background-color: white;
  padding: 0px 15px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: var(--shadow);
}

head.hd p {
  font-size: 1.8em;
}

head.hd h1 {
  font-size: 1.8em;
}
